.root {
    display: flex;
    flex-direction: column;
}

.quantityField {
    padding: 8px 10px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #666;
    line-height: 16px;
    font-size: 16px;
}
